<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello World Thymeleaf!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}"/>
  </head>
  <body>
    <p th:text="#{hello}">Hello World Thymeleaf Offline!!</p>
    
    <table class="table">
		<thead>
			<tr>
				<th>Employee Name</th>
				<th>Emp Id</th>
				<th>Emp Age</th>
				<th>Emp Salary</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.empName}">Hardik</td>
				<td th:text="${employee.empId}">1</td>
				<td th:text="${employee.age}">26</td>
				<td th:text="${employee.salary}">25466</td>
			</tr>
		</tbody>
    </table>
    
  </body>
</html>
